:host {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.mat-flat-button {
  width: 100%;
}

.redirect-link {
  text-align: center;
  margin: 1em;
}