<section class="sidebar">
  <mat-button-toggle-group [formControl]="toggle" appearance="legacy" aria-label="Font Style">
    <mat-button-toggle value="all">All Businesses</mat-button-toggle>
    <mat-button-toggle value="favorite">Favorites</mat-button-toggle>
  </mat-button-toggle-group>

  <mat-form-field class="search" appearance="legacy">
    <mat-label>Search for restaurants</mat-label>
    <input matInput placeholder="..." [formControl]="searchedName"/>
    <mat-hint>Enter a bookname and search</mat-hint>
    <mat-icon matSuffix (click)="onClick()">search</mat-icon>
  </mat-form-field>

      <app-card  *ngFor="let business of businessList"  [class.selected]="business.bid === selectedId" [business]="business">
      </app-card>
</section>

<router-outlet></router-outlet>