
  <h1>{{ title }}</h1>
  <h2>{{ headerText }}</h2>
  <p>{{ text }}</p>
  <div class="metrics-container">
      <p>Rate how well restaurants are doing on</p>
      <div class="metrics">
          <figure>
              <img width=60 height=60 src="/assets/face-mask.png">
              <figcaption>Face Coverings</figcaption>
          </figure>
          <figure>
              <img width=60 height=60 src="/assets/hand-wash.png">
              <figcaption>Sanitation Supply</figcaption>
          </figure>
          <figure>
              <img width=60 height=60 src="/assets/distancing.png">
              <figcaption>Social Distancing</figcaption>
          </figure>
          <figure>
              <img width=60 height=60 src="/assets/disinfection.png">
              <figcaption>Table Disinfection</figcaption>
          </figure>
      </div>
  </div>
  <div class="buttons" *ngIf="isLoggedIn">
    <button mat-raised-button color="primary">Register to post reviews</button>
    <button mat-raised-button>I already have an account</button>
  </div>