:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2em;
}

.welcome-container h1 {
  font-size: 4em;
  margin-bottom: 0.5em;
}

.welcome-container h2 {
  font-size: 2em;
}

.metrics-container p{
  font-weight: 500;
}

.metrics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}

figure {
  text-align: center;
  border: 1px solid #dfdfdf;
  border-radius: 15px;
  padding: 20px;
  margin-right: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.mat-raised-button {
  margin-bottom: 0.5em;
}
