<mat-card>
  <mat-card-title>
    <a [routerLink]="[business.bid, 'detail']">
      {{ business.name }}
    </a>
  </mat-card-title>
  <mat-card-subtitle>{{ business.address }}</mat-card-subtitle>
  <mat-card-content>
    <app-read-only-rating [rating]="business.rating" [starCount]="5"></app-read-only-rating>
    {{ business.rating }}
  </mat-card-content>
  <mat-icon *ngIf="isLoggedIn && isFavorite" (click)="deleteFavorite()">favorite</mat-icon>
  <mat-icon *ngIf="isLoggedIn && !isFavorite"  (click)="addFavorite()">favorite_border</mat-icon>
</mat-card>