/* You can add global styles to this file, and also import other style files */
:root {
  --color-grey: #121212;
  --color-album: #181818;
  --color-album-hover: #212121;
  --color-album-detail: #9B9B9B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  // overflow: hidden;
}